<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страницикус</title>
</head>
<body>
    <h1>Раз</h1>
    <h2>Двас</h2>
    <h3>Трис</h3>
{{ todo_data }}
<p>{{todo_data[0]}}</p>
<p>{{todo_data[1]}}</p>
<p>{{todo_data[0].name}}</p>
<p>{{todo_data[1]['name']}}</p>
<h2>{{todo_data[0].id}} - {{todo_data[0].name}}</h2>
<h2>{{todo_data[1].id}} - {{todo_data[1]['name']}}</h2>
<h2>Список задач</h2>
{% for task in todo_data %}
<p>{{task['id']}}-{{task['name']}}</p>
{% endfor %}
<h3>Список пользователей</h3>
{% for user in users %}
<p>{{user['id']}}-{{user['telegram_id']}}</p>
{% endfor %}
<h2>Продукты</h2>
{% for produkt in produkts %}
<p>{{produkt['name']}}-{{produkt['price']}} руб</p>
{% endfor %}



<a href="http://127.0.0.1:5000/1">Второй</a>
<a href="{{ url_for('main2')}}">Второй</a>
</body>
</html>